/* MAIN DIV */
.main {
    margin-left: 150px;
    margin-right: 150px;
}

/* NAVBAR */
.navbar {
  background-color: #A9A9A9;
  display: flex;
}

.navbar ul li {
    list-style-type: none;
    float:left;
    margin: 10px 20px 10px 20px;
    font-size: 20px;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #2F4F4F;
}

#name-logo {
    margin-left: -20px;
    margin-right: 375px !important;
    text-transform: none;
}

/* CONTENT DIV */
.content {

}