.skills-group {
    margin-bottom: 3.25vh;
}

.skills-group-heading {
    color: #4682B4;
    font-size: 35px;
}

.skills-table {
    font-size: 20px;
    margin-left: 5vh;
    border-spacing: 1.5vh;
}

.skill-row {}

.skill-name {
    font-weight: bold;
    width: 25vh;
}

.skill-details {
    text-align: justify;
}


