<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>Renad Gharz | {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('home') }}" id="name-logo">Renad Gharz</a></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
            <li><a href="{{ url_for('skills') }}">Skills</a></li>
            <li><a href="{{ url_for('experience') }}">Experience</a></li>
            <li><a href="{{ url_for('education') }}">Education</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>