{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}


{% block title %}Home{% endblock %}


{% block header %}About Me{% endblock %}

{% block content %}

<div id="profile">
    <img src="static/img/pfp.jfif" alt="Picture of me :)" id="profile-pic">
    <p id="info-about-me">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Id neque aliquam vestibulum morbi. Convallis aenean et tortor at risus viverra.
        Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc.
        Est ante in nibh mauris cursus mattis molestie a. Eu sem integer vitae justo eget.
        Sapien eget mi proin sed libero enim sed faucibus. In arcu cursus euismod quis viverra nibh cras pulvinar.
        Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Eget est lorem ipsum dolor.
        Maecenas pharetra convallis posuere morbi leo urna. Maecenas accumsan lacus vel facilisis volutpat est velit.
        Cursus turpis massa tincidunt dui ut ornare lectus sit amet. Velit ut tortor pretium viverra suspendisse. <br><br>
        Facilisi morbi tempus iaculis urna. Quam adipiscing vitae proin sagittis nisl.
        Quis viverra nibh cras pulvinar mattis nunc sed. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna.
        Neque egestas congue quisque egestas diam in arcu.
    </p>
</div>
<div id="downloads-links-contacts">
    <div id="contacts">
        <h2 id="contact-heading">Contact me:</h2>
        <p class="contact-info">647-281-7233</p>
        <p class="contact-info">renad.gharz@outlook.com</p>
    </div>
</div>

{% endblock %}