{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="../static/css/skills.css">
{% endblock %}


{% block title %}Skills{% endblock %}


{% block header %}Skills{% endblock %}

{% block content %}
<div class="skills-group">
    <h2 class="skills-group-heading">Programming Languages and Tools</h2>
    <table class="skills-table"></table>
</div>

<div class="skills-group">
    <h2 class="skills-group-heading">Programs</h2>
    <table class="skills-table"></table>
</div>

<div class="skills-group">
    <h2 class="skills-group-heading">Languages</h2>
    <table class="skills-table"></table>
</div>
{% endblock %}