{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="../static/css/skills.css">
{% endblock %}


{% block title %}Skills{% endblock %}


{% block header %}Skills{% endblock %}

{% block content %}
<div class="skills-group">
    <h2 class="skills-group-heading">Programming Languages and Tools</h2>
    <table class="skills-table">
        <tr class="skill-row">
            <td class="skill-name">Python</td>
            <td class="skill-details">Selenium, BeautifulSoup4, requests, Flask, Tkinter</td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">R</td>
            <td class="skill-details">data  manipulation (), plotting ()</td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">SQL</td>
            <td class="skill-details">basic queries using JOIN, etc.</td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">HTML</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">CSS</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">AutoHotkey</td>
            <td class="skill-details">using AHI wrapper to enable dedicated secondary macro keyboard</td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">Git</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">Docker</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">Markdown</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">LaTeX</td>
            <td class="skill-details"></td>
        </tr>
    </table>
</div>

<div class="skills-group">
    <h2 class="skills-group-heading">Programs</h2>
    <table class="skills-table">
        <tr class="skill-row">
            <td class="skill-name">Microsoft Excel</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">Microsoft Word</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">Microsoft Visio</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">Microsoft Access</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">Microsoft SQL Sever Management Studio</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">Minitab</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">Power BI</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">Adobe XD</td>
            <td class="skill-details"></td>
        </tr>
    </table>
</div>

<div class="skills-group">
    <h2 class="skills-group-heading">Languages</h2>
    <table class="skills-table">
        <tr class="skill-row">
            <td class="skill-name">English</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">French</td>
            <td class="skill-details"></td>
        </tr>
        <tr class="skill-row">
            <td class="skill-name">Arabic</td>
            <td class="skill-details"></td>
        </tr>
    </table>
</div>
{% endblock %}